#nosotros {
    background: url(../../assets/testimonios/fondo-testim-uno.png) no-repeat 0 0 / 32em,
                url(../../assets/testimonios/fondo-testim-dos.png) no-repeat 100% 11% / 28em,  
                url(../../assets/testimonios/fondo-testim-uno.png) no-repeat 0 22% / 28em,
                url(../../assets/nosotros/fondo-nosotros.png) no-repeat 0 36% / 7em;
}

.nosotros {
    margin: 0 auto;
    padding: 0 1.5em;
    max-width: 50em;
}

.nosotros__conten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2.5em;
}

.nosotros__conten img {
    max-width: 30em;
    margin-bottom: 3em;
    border: 5px solid var(--celeste);
    border-radius: 7em;
}

.nosotros__texto p {
    font-size: .9em;
    line-height: 1.5em;
    color: var(--gris);
}

.nosotros__texto p strong {
    color: var(--azul);
}

.conoce {
    margin: 0 auto;
    padding: 0 1.5em;
    max-width: 50em;
}

.conoce h2 {
    margin: 3em 0 1.5em 0;
    text-align: center;
    font-size: 1.6em;
    color: var(--azul-oscuro);
    font-family: var(--averia);
}

.conoce__video {
    position: relative;
    cursor: pointer;
}

.conoce__video img {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.7);
}

.conoce__video video {
    width: 100%;
    border-radius: 2em;
    border: 5px solid var(--celeste);
}

.mision-vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 5em auto;
    padding: 0 1.5em;
    max-width: 35em;
}

.mision-vision__card {
    position: relative;
    padding: 2em;
    border-radius: 1.8em;
    background: var(--radial-grad);
}

.mision-vision__card img {
    width: 8em;
    display: block;
    margin: 0 auto 2em auto;
    filter: brightness(50);
}

.mision-vision__card h3 {
    margin-bottom: .3em;
    font-size: 1.3em;
    color: var(--azul);
    font-family: var(--averia);
    font-weight: 400;
}

.mision-vision__card p {
    font-size: .9em;
    color: var(--blanco);
}

.valores {
    margin: 0 1.5em;
    padding: 2em;
    text-align: center;
    border-radius: 1.8em;
    background: var(--azul-trans);
}

.valores h2 {
    font-size: 1.6em;
    color: var(--azul-oscuro);
    font-family: var(--averia);
}

.valores__conten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 1em 0;
}

.valores__img {
    width: 7.5em;
    padding: 1.5em;
    border-radius: 50%;
    background: var(--linear-grad);
}

.valores__caja h3 {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--azul-oscuro);
}

@media screen and (width >= 1024px) {

    #nosotros {
        background: url(../../assets/testimonios/fondo-testim-uno.png) no-repeat 0 0 / 32em,
                    url(../../assets/testimonios/fondo-testim-dos.png) no-repeat 100% 11% / 28em,  
                    url(../../assets/testimonios/fondo-testim-uno.png) no-repeat 0 22% / 28em,
                    url(../../assets/nosotros/fondo-nosotros.png) no-repeat 0 47% / 14em;
    }

    .nosotros {
        max-width: 65em;
    }
    
    .nosotros__conten {
        flex-direction: row;
        margin-block: 4em;
        gap: 3em;
    }

    .nosotros__conten:nth-child(2) img {
        order: 1;
    }
    
    .nosotros__conten img {
        margin-bottom: 0;
    }
    
    .nosotros__texto p {
        font-size: 1em;
    }
    
    .conoce {
        margin: 0 auto;
        padding: 0 1.5em;
        max-width: 65em;
    }
    
    .conoce__video {
        position: relative;
    }

    .conoce__video video {
        border-radius: 4em;
        border: 8px solid var(--celeste);
    }

    .mision-vision {
        flex-direction: row;
        gap: 2em;
        margin: 5em auto;
        padding: 0 1.5em;
        max-width: 65em;
    }
    
    .mision-vision__card {
        width: 27em;
        height: 16em;
        padding: 2em 2em 0 2em;
        background: var(--blanco);
        border: 2px solid var(--azul-oscuro);
        transition: 1s;
    }

    .mision-vision__card:hover {
        background: var(--azul-oscuro);
    }
    
    .mision-vision__card img {
        position: relative;
        left: 0;
        width: 9em;
        filter: brightness(1);
        transition: 1s;
    }

    .mision-vision__card:hover img {
        left: 8em;
        width: 6em;
        filter: brightness(50);
    }
    
    .mision-vision__card h3 {
        position: relative;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 1.3em;
        color: var(--azul-oscuro);
        transition: 1s;
    }

    .mision-vision__card:first-child h3 {
        bottom: -.9em;
    }

    .mision-vision__card:hover h3 {
        bottom: 1em;
        right: 7.3em;
        color: var(--azul);
    }
    
    .mision-vision__card p {
        position: relative;
        bottom: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        font-size: .9em;
        color: var(--blanco);
        transition: 1s;
    }

    .mision-vision__card:hover p {
        bottom: 1.5em;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    
    .valores {
        margin: 0 auto;
        max-width: 65em;
    }
    
    .valores__conten {
        flex-direction: row;
        gap: 5em;
        margin: 1em 0;
    }
    
    .valores__img {
        width: 6.5em;
        padding: 1.3em;
    }
}